#Footer {
    background-image: radial-gradient( circle farthest-corner at 7.2% 13.6%,  rgba(37,249,245,1) 0%, rgba(8,70,218,1) 90% );
    color: white;
    padding-top: 30px;
}

.footer-copyright {
    background-image: radial-gradient( circle farthest-corner at 7.2% 13.6%,  rgba(37,249,245,1) 0%, rgba(8,70,218,1) 90% );
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
  
}


#Footer .row {
    margin-bottom: 10px;
}
.rodape-logo{
    border-radius: 50%;
    margin-top: 4px;
    margin-left: 25%;
    width: 20vh;
    display: block;
    border: none;
    border-radius: 50%;
}
#Footer .navbar-brand {
    margin-top: 45px;
    height: 65px;
}

#Footer .footer-copyright p {
    margin: 10px;
    color: whitesmoke;
}

#Footer ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
    
}

#Footer h5 {
    font-size: 18px;
    color: white;
    font-weight: 700;
    margin-top: 30px;
    
}

#Footer h2 a{
    font-size: 50px;
    text-align: center;
    color: #fff;
}

#Footer a {
   
    text-decoration: none;
    color:black;
    font-weight: 500;
}

#Footer a:hover,
#Footer a:focus {
    text-decoration: none;
    color: white;
}

#Footer .social-networks {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 16px;
}

#Footer .social-networks a {
    font-size: 32px;
    color: #f9f9f9;
    padding: 10px;
    transition: 0.2s;
}

#Footer .social-networks a:hover {
    text-decoration: none;
}

#Footer .facebook:hover {
    color: #0077e2;
}

#Footer .instagram:hover {
    color: purple;
    
}

#Footer .linkedin:hover {
    color: #00aced;
}

#Footer .btn {
    color: white;
    background-color: #8b0323;
    border-radius: 20px;
    border: none;
    width: 130px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    line-height: 25px;
}

/* @media screen and (max-width: 767px) { */
    #Footer {
        text-align: center;
    }

